:root {
    --color-primario: #26d962;
    --color-boton: #007e49;
    --color-fondo: #141F1D;
    --color-texto: #94A3A0;
   --text-muted: #777777;
   --footer-bg: #222222;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace, sans-serif;
    background-color: var(--color-fondo);
    color: var(--color-texto);
    min-height: 100vh;
}


footer {
    background-color: var(--footer-bg);
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.comercio-item, .producto {
    background-color: var(--color-fondo);
    border-radius: 30px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;    
    max-width: 450px;       
    position: relative;
    overflow: hidden;
  
    &:hover {
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      transition: box-shadow 0.3s, transform 0.3s;

      .img-card {
        transform: scale(1.03);
        transition: transform 0.7s;

      }
    }
  }


  .producto .img-card {
    width: 100%;
    height: 200px;
    border-radius: 8px;
    object-fit: cover;
    margin-bottom: 10px;
  }

  .comercio-item .img-card {
    width: 100%;
    height: 200px;
    border-radius: 8px;
    object-fit: cover;
    margin-bottom: 10px;
  }

  .svg {
    width: 24px;
    height: 24px;
    fill: white;
  }

  main > section:nth-child(1) p {
    color: var(--text-muted);
    font-size: 19px;
    max-width: 50%;
  }

  .productos, .comercios {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    min-height: 300px;
    justify-items: center;
    gap: 1rem;
  }

  .boton-card {
    background-color: var(--color-texto);
    color: var(--color-fondo);
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
    width: 50%;
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.1);
    font-style: italic;
    font-weight: bold;
     font-size: 1rem;

     &:hover {
    background-color: var(--color-primario);
    transition: background-color 0.3s, transform 0.3s;
    transform: scale(1.05);
  }
  }

.sectionHeader {
     font-size: 28px;
    box-shadow: 0px 0.5px 5px 0.5px;
    padding: 10px;
    width: 500px;
    margin: 20px 430px;
    display: flex;
    justify-content: center;
    border-radius: 20px ;
    color: var(--color-primario);
  }


.is-hidden {
    display: none;
}


